/*-- scss:functions --*/


/*-- scss:defaults --*/

$code-font-size: 90% !important;
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;


/*-- scss:rules --*/

.navbar {
    padding-bottom: 0;
    padding-top: 0;
    background-color: #181818;
}

