/*-- scss:functions --*/


/*-- scss:defaults --*/

$font-size-root: 105%;
$code-font-size: 90% !important;

$h2-font-size: 180%;
$h2-font-size: 160%;
$h3-font-size: 140%;
$h4-font-size: 120%;
$h5-font-size: 100%;

$figure-caption-font-size: 90% !important;
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;
$navbar-bg: #181818;
$figure-caption-color: rgb(128, 128, 128) !important;

/*-- scss:rules --*/

.navbar {
    padding-bottom: 2px;
    padding-top: 2px;
}

#quarto-document-content {
    max-width: 770px !important;
}